.home{
  width: 100px;
  height: 100px;
  background-color: rgb(243, 93, 33);
}

.test_rem {
  width: 690px;
  height: 690px;
  margin: 0 auto;
  background-color: yellow;
}

body{
  font-size: 16px;
}